.profile__description{
  margin: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px){
  .profile__description{
    text-align: center;
  }
}