.popup-button{
  width: 358px;
  height: 50px;
  border: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity .4s;
  margin-bottom: 37px;
  margin-left: 36px;
  border-radius: 2px;
  padding: 0;
  
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
}
  
.popup-button:hover {
  opacity: .8;
}
  
@media screen and (max-width: 560px){
  .popup-button{
    margin-left: 22px;
    width: 238px;
    margin-bottom: 25px;

    font-size: 14px;
    line-height: 17px;
  }
}