.popup__container{
  position: relative;
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
  
@media screen and (max-width: 560px){
  .popup__container{
    max-width: 282px;
  }
}