.profile__edit-container{
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

@media screen and (max-width: 768px){
  .profile__edit-container{
    justify-content: center;
    max-width: 100vw;
  }
}