.elements__like-button{
  border: none;
  cursor: pointer;
  padding: 0;
  background: url('../../../images/like.svg') center no-repeat;
  height: 22px;
  width: 19px;
  object-fit: contain;
  background-size: 100%;
  transition: opacity .4s;
}

.elements__like-button:hover{
  opacity: 0.6;
}