.header__burger-button{
    display: none;
}

@media screen and (max-width: 600px){
  .header__burger-button{
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    padding-bottom: 31px;
    width: 24px;
    height: 18px;
    background-size: 100%;
    object-fit: contain;
    border: 0;
    cursor: pointer;
    transition: opacity .4s;
    background-color: black;
    z-index: 1;
  }

  .header__burger-button:hover{
    opacity: 0.6;
  }
}

@media screen and (max-width: 560px){
    .header__burger-button{
      margin-right: 12vw;
    }
  }

