.authwindow__title{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;

  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

  
@media screen and (max-width: 560px){
  .authwindow__title{
    font-size: 20px;
    line-height: 24px;
  }
}